.header {
    height: 78px;
    border-radius: 2px;
    padding: 20px;
    background: linear-gradient(-180deg, #f7f7f7, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);

    &__title {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;
        font-family: var(--font-main);
    }
}