.tapBar {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 58px;
    background-color: rgba(255, 255, 255, 0.95);
    transition: 1s;

    &__item {
        justify-self: center;
        align-self: center;
    }

    &__message {
        position: absolute;
        left: calc(50% - 50px);
        top: calc(50% - 15px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        font-size: 13px;
        border-radius: 8px;
        box-shadow: 0 0 5px;
        background-color: #fff;
    }
}

.tapBar.hide {
    animation: hideTapBar 1s;
    transform: translateY(100%);
    opacity: 0;
    z-index: -1;
}

@keyframes hideTapBar {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}