@font-face {
    font-family: 'Proxima_nova_regular';
    font-weight: 400;
    src: url('./assets/fonts/proxima_nova_regular.woff2') format('woff2'),
        url('../assets/fonts/proxima_nova_regular.woff') format('woff');
}